body, html{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	overflow-x:hidden;
}

a{
	text-decoration:none;

}

p{
	text-align:justify;
}

/* navigation */
.navbar-dark{
  background-color: #072043;
  border: none;
  padding: 5px;
  margin: 0;

}

.navbar-brand{
  color: #fff !important;
  font-size: 20px;
  margin-left: 10px;

}

.navbar-nav>li{
  margin: 2px;
  border-radius: 4px;
}

.navbar-nav>li:hover{
  background-color: #5e9bff;
}


/* main */
.img-bg{
  background: url('webbg.jpg') no-repeat;
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  background-size: cover;
}

.content{
  padding: 100px;
}

.row>.col-md-8>h1{
  color: #fff;
  font-size: 40px;
  padding: 20px;
}

.row>.col-md-8>p{
  color: #fff;
  padding: 12px;

}

.form{
  background-color: #3f88ff;
  border-radius: 6px;
	margin-top: 40px;
}

.col{
  width: 90%;
  margin: auto;
}

.form>h1{
  text-align: center;
  color: #fff;
  padding: 20px;
}

.row>.col-md-4>.form>form{
  padding: 20px;
}

.grey-bg{
  background-color: #343A40;
}

.grey-bg-content{
  padding: 30px;
  color: #fff;
}

.white-bg{
  padding: 50px;
}

.blue-bg{
  background-color: #3f88ff;
}
